<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title">Escribe tu correo</ion-title>
    <p class="subTitle">Para cambiar tu contraseña</p>
  </div>

  <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
    <div class="ion-padding">

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="resetPassForm.controls['email'].touched && resetPassForm.controls['email'].invalid">
        <ion-text *ngIf="resetPassForm.controls['email'].errors['required']">
          <p class="text">El campo es obligatorio</p>
        </ion-text>
        <ion-text *ngIf="resetPassForm.controls['email'].errors['email']">
          <p class="text">El formato del correo no es válido</p>
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Nueva contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="resetPassForm.controls['password'].touched && resetPassForm.controls['password'].invalid">
        <ion-text *ngIf="resetPassForm.controls['password'].errors['required']">
          <p class="text">El campo es obligatorio</p>
        </ion-text>
        <ion-text *ngIf="resetPassForm.controls['password'].errors['pattern']">
          <p class="text">La contraseña debe contener al menos: una letra mayúscula, un número, un caracter especial y debe tener una longitud mínima de 8 dígitos.</p>
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmar nueva contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="resetPassForm.controls['confirmPassword'].touched && resetPassForm.controls['confirmPassword'].invalid">
        <ion-text *ngIf="resetPassForm.controls['confirmPassword'].errors['required']">
          <p class="text">El campo es obligatorio</p>
        </ion-text>
        <ion-text *ngIf="resetPassForm.controls['confirmPassword'].errors?.notEquivalent">
          <p class="text">Las contraseñas no coinciden</p>
        </ion-text>
      </div>

      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
        <ion-fab-button type="submit" color="tertiary">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </div>
  </form>

</ion-content>
