.input{
    font-weight: 300;
}

ion-item{
    --background:#fbdaff54;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;

    .subTitle{
        color: grey;
        font-size: 1.2rem;
    }
    title{
        font-size: 3rem;
    }
}

.signupLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    width: 80%;


    p{
        font-size: 1.2rem;
    }
    a{
        text-decoration: none;
    }
}

.forgotPassword{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
    }
}

.text{
    display: flex;
    justify-content: left;

    font-size: smaller;
    margin-left: 20px;
    color: var(--ion-color-danger);
}
