<ion-content [fullscreen]="true">
  
  <div class="container">
    <ion-img src="../../../../assets/img/fondo_landing.png"></ion-img>
    <ion-title>Research Hub</ion-title>
    <ion-text color="tertiary">
      <p>
        Descubre nuestra aplicación móvil de encuestas, donde tu voz importa. Participa en nuestras encuestas sobre una variedad de temas 
        y comparte tus opiniones. ¡Tu participación es fundamental para nosotros! Únete ahora y sé parte de la conversación.
      </p>
    </ion-text>
  </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;" >
    <ion-fab-button [routerLink]="['/login']" color="tertiary">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
